body{
    background-color: #dc143c;;
    padding: 15px 15px 15px 15px;
}

nav{
    padding: 0;
}
nav h3{
    display: inline;
}
nav ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;  
}
nav li{
    float: left;
}
li h1{
    display:block;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;  
}
li a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
    padding: 0;
    margin: 0;    
}

